@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  /* Colors */
  /* Primary */
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  /* Neutral */
  --DarkGrayishRed: hsl(0, 6%, 24%);
  /* Gradients */
  --Linear-first: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Linear-second: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
body {
  font-family: "Josefin Sans", sans-serif;
  /*Weights: 300, 400, 600 */
  margin: 0;
  background-image: var(--Linear-first);
}
header {
  padding: 1.5rem;
}
main {
  margin-bottom: 2rem;
}
main img:nth-child(2) {
  width: 100%;
  display: block;
  margin-bottom: 3rem;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  line-height: 2.3rem;
  font-weight: 600;
  color: var(--DarkGrayishRed);
  margin-bottom: 0;
}
h1 span {
  font-weight: 400;
  color: var(--DesaturatedRed);
}
p {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
  color: var(--DesaturatedRed);
  line-height: 1.5rem;
}
form {
  display: flex;
  justify-content: center;
  position: relative;
}
input::placeholder {
  color: var(--DesaturatedRed);
}
input {
  border-radius: 1.3rem;
  background-image: var(--Linear-first);
  border: 1px solid var(--DesaturatedRed);
  padding: 0.7rem 1.2rem;
  width: 60%;
  margin-left: 2rem;
}
button {
  border-radius: 1.3rem;
  border: none;
  width: 3.3rem;
  position: relative;
  right: 2rem;
  color: white;
  font-size: 1.5rem;
  background-image: var(--Linear-second);
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

form [required]:invalid {
  border: 2px solid var(--SoftRed);
}
.icon-error {
  position: absolute;
  top: 0.5rem;
  right: 6.5rem;
}
.email-form-error {
  position: absolute;
  transition: all 800ms ease;
  bottom: -1.5rem;
  left: 4rem;
}
.icon-error.is-active,
.email-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
  color: var(--DesaturatedRed);
}
.none {
  display: none;
}
@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
